# pip install -r requirements.txt
astropy
datetime
ephem
folium
geopandas
geopy
importlib
keras
levenshtein
matplotlib
nbformat
numpy
openpyxl
pandas
pip
plotly
plotly.express
pydataset
pyephem
pygeodesy
pyinstaller
pyproj
requests
scikit-learn
scipy
scrapy
selenium
SpeechRecognition
streamlit
streamlit_folium
streamlit-aggrid
yfinance
